<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>  
    <add key="pg.connect" value="Host=localhost;Port=5414;Database=postgres"/>  
    <add key="pg.user" value="postgres"/>  
    <add key="pg.password" value="oscgp1"/>  
    <add key="ora.connect" value="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = XE)));"/>  
    <add key="ora.user" value="system"/>  
    <add key="ora.password" value="oscgp1"/>  
  </appSettings>  
</configuration>  